<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <a class="gradient-btn" href="{{ url_for('add_employee') }}"><span>Add Employee</span></a>
        <a class="gradient-btn" href="{{ url_for('view_employees') }}"><span>View Employees</span></a>
        <a class="gradient-btn" href="{{ url_for('logout') }}"><span>Logout</span></a>
    </div>
</body>
</html>






